<%= link_to '+ Create Task', tasks_new_path, class: 'btn btn-primary' %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <% @tasks.each do |task| %>
      <div class="col-md-6">
        <div class="card bg-light-magenta mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.description %></p>
            <p class="card-text">Assign To: <%= task.assign_to %></p>
            <p class="card-text">Status: <%= task.status %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
