<!-- app/views/registrations/new.html.erb -->

<h2>Registration Page</h2>

<%= form_for @user, url: create_registration_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :user_type %>
    <%= f.select :user_type, options_for_select(['Admin', 'Manager', 'Employee']), prompt: 'Select UserType', required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>

  </div>

  <div class="actions">
    <%= f.submit 'Register', class: 'btn' %>
  </div>
<% end %>
