<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: #d2f5e3;">

  <div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
      <div class="card-header text-center bg-success text-white">
        <h1>Login</h1>
      </div>
      <div class="card-body">
        <% if flash.any? %>
          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type %> text-center">
              <%= msg %>
            </div>
          <% end %>
        <% end %>

        <%= form_tag "/login" do %>
          <div class="form-group">
            <%= label_tag 'email', 'Email' %>
            <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Enter your email' %>
          </div>

          <div class="form-group">
            <%= label_tag 'password', 'Password' %>
            <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'Enter your password' %>
          </div>

          <%= submit_tag 'Submit', class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
